<li>
	<%= gravatar_for user, :size => 30 %>
	<%= link_to user.name, user %>
	<% if current_user.admin? %>
	|
<!-- don't need the user_path for link_to; ':method key gets rails to issue an http delete request; :confirmation key gets a javascript confirmation; :title makes sure that it is a valid HTML-->
		<%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
						:title => "Delete #{user.name}" %>
	<% end %>
</li>
